<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Employees on project</title>
</head>

<body>

<div class="container">

    <hr>
    <a th:href="@{/employees/list}" class="btn btn-primary btn-lg mb-3">
        Employees
    </a>
    <a th:href="@{/projects/list}" class="btn btn-outline-primary btn-lg mb-3">
        Projects
    </a>
    <hr>

    <h3>Employees on project:</h3>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Position</th>
            <th>Department</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempEmployee : ${employees}">

            <td th:text="${tempEmployee.firstName}"/>
            <td th:text="${tempEmployee.lastName}"/>
            <td th:text="${tempEmployee.position}"/>
            <td th:text="${tempEmployee.department}"/>
            <td>

                <a th:href="@{/employees/remove(employeeId=${tempEmployee.id}, projectId=${project})}"
                   class="btn btn-outline-danger btn-sm"
                   onclick="if (!(confirm('Are you sure you want to remove employee from current project?')))return false">
                    Remove from project
                </a>
            </td>

        </tr>
        </tbody>
    </table>

    <hr>
    <hr>

    <h3>Employees without any project:</h3>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Position</th>
            <th>Department</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempEmployee : ${freeEmployees}">

            <td th:text="${tempEmployee.firstName}"/>
            <td th:text="${tempEmployee.lastName}"/>
            <td th:text="${tempEmployee.position}"/>
            <td th:text="${tempEmployee.department}"/>
            <td>

                <a th:href="@{/employees/hire(employeeId=${tempEmployee.id},  projectId=${project})}"
                   class="btn btn-outline-success btn-sm"
                   onclick="if (!(confirm('Are you sure you want to hire employee to the current project?')))return false">
                    Hire for this project
                </a>
            </td>

        </tr>
        </tbody>
    </table>


</div>

</body>
</html>